* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar{
  color: aquamarine;
  font-size: calc(10px + 2vmin);
  font-weight: 300;
  padding: 20px;
  background-color: #282c34;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
.App-link {
  color: #61dafb;
}


